### Jacob Kopec and Nico Morys

#### The purpose of this ipynb file is to create the merged dataframe and merged_df.csv that we used to answer our Question 1 and Question 2.

In [6]:
#imports pandas so we can use it
import pandas as pd

In [7]:
#reads both the csv files in to separate data frames
IMDbT1 = pd.read_csv('IMDbT1_raw.csv', encoding = 'utf-8')
IMDbHG = pd.read_csv('IMDbHG_raw.csv', encoding = 'utf-8')

In [8]:
#merges on the movie_name to get the respective gross earnings and movie name from df2
merged_df = pd.merge(IMDbT1[['rank', 'movie_name']], IMDbHG[['movie_name', 'gross_earnings', 'director(s)']], on='movie_name', how='inner')

#final data frame
final_df = merged_df[['rank', 'movie_name', 'gross_earnings', 'director(s)']]

final_df.to_csv('merged_df.csv', encoding = 'utf-8')

In [9]:
#displays it here so I can look at it
display(final_df)

,rank,movie_name,gross_earnings,director(s)
0,2,The Godfather,250342198,Francis Ford Coppola
1,3,The Dark Knight,1009025676,Christopher Nolan
2,4,The Lord of the Rings: The Return of the King,1138027091,Peter Jackson
3,6,Schindler's List,322161245,Steven Spielberg
4,8,The Lord of the Rings: The Fellowship of the Ring,888120042,Peter Jackson
...,...,...,...,...
203,966,Minority Report,358372926,Steven Spielberg
204,968,Kung Fu Panda,632091832,"Mark Osborne, John Stevenson"
205,975,The Others,210002906,Alejandro Amenábar
206,977,Toy Story 4,1073841394,Josh Cooley
207,987,Ponyo,205916673,Hayao Miyazaki